@page "/"
@using ClusterDashboard.Client.Components
@using ClusterDashboard.Presentation.Components.Tiles

<div id="dashboard">
    <Tile>
        <Counter />
    </Tile>
    <Tile>
        <PiTemperatures />
    </Tile>
</div>
